In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [25]:
data=pd.read_csv(r'C:\results_football1.csv')

In [26]:
data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
42079,31-03-21,Andorra,Hungary,1,4,FIFA World Cup qualification,Andorra la Vella,Andorra,False
42080,31-03-21,San Marino,Albania,0,2,FIFA World Cup qualification,Serravalle,San Marino,False
42081,31-03-21,Armenia,Romania,3,2,FIFA World Cup qualification,Yerevan,Armenia,False
42082,31-03-21,Germany,North Macedonia,1,2,FIFA World Cup qualification,Duisburg,Germany,False
42083,31-03-21,Liechtenstein,Iceland,1,4,FIFA World Cup qualification,Vaduz,Liechtenstein,False

In [30]:
data.drop('date',axis=1, inplace=True)

In [31]:
data.drop('tournament',axis=1, inplace=True)

In [32]:
data.drop('city',axis=1, inplace=True)

In [33]:
data.drop('neutral',axis=1, inplace=True)

In [34]:
data

           home_team        away_team  home_score  away_score        country
0           Scotland          England           0           0       Scotland
1            England         Scotland           4           2        England
2           Scotland          England           2           1       Scotland
3            England         Scotland           2           2        England
4           Scotland          England           3           0       Scotland
...              ...              ...         ...         ...            ...
42079        Andorra          Hungary           1           4        Andorra
42080     San Marino          Albania           0           2     San Marino
42081        Armenia          Romania           3           2        Armenia
42082        Germany  North Macedonia           1           2        Germany
42083  Liechtenstein          Iceland           1           4  Liechtenstein

[42084 rows x 5 columns]

In [35]:
top_10 = [team for team in data.home_team.value_counts().sort_values(ascending=False).head(10).index ]
top_10

['Brazil',
 'Argentina',
 'Mexico',
 'Germany',
 'England',
 'Sweden',
 'France',
 'South Korea',
 'Hungary',
 'Italy']

In [37]:
for label in top_10:
    data[label] = np.where(data['home_team']==label,1,0)

data[['home_team']+top_10].head(50)

,home_team,Brazil,Argentina,Mexico,Germany,England,Sweden,France,South Korea,Hungary,Italy
0,Scotland,0,0,0,0,0,0,0,0,0,0
1,England,0,0,0,0,1,0,0,0,0,0
2,Scotland,0,0,0,0,0,0,0,0,0,0
3,England,0,0,0,0,1,0,0,0,0,0
4,Scotland,0,0,0,0,0,0,0,0,0,0
5,Scotland,0,0,0,0,0,0,0,0,0,0
6,England,0,0,0,0,1,0,0,0,0,0
7,Wales,0,0,0,0,0,0,0,0,0,0
8,Scotland,0,0,0,0,0,0,0,0,0,0
9,Scotland,0,0,0,0,0,0,0,0,0,0
10,England,0,0,0,0,1,0,0,0,0,0
11,England,0,0,0,0,1,0,0,0,0,0
12,Wales,0,0,0,0,0,0,0,0,0,0
13,Scotland,0,0,0,0,0,0,0,0,0,0
14,Wales,0,0,0,0,0,0,0,0,0,0
15,Scotland,0,0,0,0,0,0,0,0,0,0
16,England,0,0,0,0,1,0,0,0,0,0
17,England,0,0,0,0,1,0,0,0,0,0
18,Wales,0,0,0,0,0,0,0,0,0,0
19,Northern Ireland,0,0,0,0,0,0,0,0,0,0
20,Wales,0,0,0,0,0,0,0,0,0,0
21,Scotland,0,0,0,0,0,0,0,0,0,0
22,Wales,0,0,0,0,0,0,0,0,0,0
23,Scotland,0,0,0,0,0,0,0,0,0,0
24,England,0,0,0,0,1,0,0,0,0,0
25,England,0,0,0,0,1,0,0,0,0,0
26,England,0,0,0,0,1,0,0,0,0,0
27,Wales,0,0,0,0,0,0,0,0,0,0
28,Northern Ireland,0,0,0,0,0,0,0,0,0,0
29,Northern Ireland,0,0,0,0,0,0,0,0,0,0
30,Wales,0,0,0,0,0,0,0,0,0,0
31,Northern Ireland,0,0,0,0,0,0,0,0,0,0
32,Scotland,0,0,0,0,0,0,0,0,0,0
33,Wales,0,0,0,0,0,0,0,0,0,0
34,Scotland,0,0,0,0,0,0,0,0,0,0
35,England,0,0,0,0,1,0,0,0,0,0
36,England,0,0,0,0,1,0,0,0,0,0
37,Scotland,0,0,0,0,0,0,0,0,0,0
38,England,0,0,0,0,1,0,0,0,0,0
39,Wales,0,0,0,0,0,0,0,0,0,0
40,Northern Ireland,0,0,0,0,0,0,0,0,0,0
41,United States,0,0,0,0,0,0,0,0,0,0
42,Wales,0,0,0,0,0,0,0,0,0,0
43,Northern Ireland,0,0,0,0,0,0,0,0,0,0
44,Northern Ireland,0,0,0,0,0,0,0,0,0,0
45,Scotland,0,0,0,0,0,0,0,0,0,0
46,Wales,0,0,0,0,0,0,0,0,0,0
47,Scotland,0,0,0,0,0,0,0,0,0,0
48,United States,0,0,0,0,0,0,0,0,0,0
49,England,0,0,0,0,1,0,0,0,0,0

In [38]:
def one_hot_top(df, variable, top_team_labels):
    for label in top_team_labels:
        df[variable+ '_' + label] = np.where(data[variable]==label, 1,0)

In [42]:
data=pd.read_csv(r'C:\results_football1.csv', usecols=['home_team', 'away_team', 'country' ])

one_hot_top_team(data, 'home_team', top_10)
data.head()

,home_team,away_team,country,home_team_Brazil,home_team_Argentina,home_team_Mexico,home_team_Germany,home_team_England,home_team_Sweden,home_team_France,home_team_South Korea,home_team_Hungary,home_team_Italy
0,Scotland,England,Scotland,0,0,0,0,0,0,0,0,0,0
1,England,Scotland,England,0,0,0,0,1,0,0,0,0,0
2,Scotland,England,Scotland,0,0,0,0,0,0,0,0,0,0
3,England,Scotland,England,0,0,0,0,1,0,0,0,0,0
4,Scotland,England,Scotland,0,0,0,0,0,0,0,0,0,0

In [43]:
top_10 = [team for team in data.away_team.value_counts().sort_values(ascending=False).head(10).index ]
top_10

['Uruguay',
 'Sweden',
 'England',
 'Hungary',
 'Paraguay',
 'Germany',
 'Poland',
 'Argentina',
 'Finland',
 'Zambia']

In [44]:
for label in top_10:
    data[label] = np.where(data['away_team']==label,1,0)

data[['away_team']+top_10].head(50)

,away_team,Uruguay,Sweden,England,Hungary,Paraguay,Germany,Poland,Argentina,Finland,Zambia
0,England,0,0,1,0,0,0,0,0,0,0
1,Scotland,0,0,0,0,0,0,0,0,0,0
2,England,0,0,1,0,0,0,0,0,0,0
3,Scotland,0,0,0,0,0,0,0,0,0,0
4,England,0,0,1,0,0,0,0,0,0,0
5,Wales,0,0,0,0,0,0,0,0,0,0
6,Scotland,0,0,0,0,0,0,0,0,0,0
7,Scotland,0,0,0,0,0,0,0,0,0,0
8,England,0,0,1,0,0,0,0,0,0,0
9,Wales,0,0,0,0,0,0,0,0,0,0
10,Wales,0,0,0,0,0,0,0,0,0,0
11,Scotland,0,0,0,0,0,0,0,0,0,0
12,Scotland,0,0,0,0,0,0,0,0,0,0
13,England,0,0,1,0,0,0,0,0,0,0
14,England,0,0,1,0,0,0,0,0,0,0
15,Wales,0,0,0,0,0,0,0,0,0,0
16,Wales,0,0,0,0,0,0,0,0,0,0
17,Scotland,0,0,0,0,0,0,0,0,0,0
18,Scotland,0,0,0,0,0,0,0,0,0,0
19,England,0,0,1,0,0,0,0,0,0,0
20,Northern Ireland,0,0,0,0,0,0,0,0,0,0
21,England,0,0,1,0,0,0,0,0,0,0
22,England,0,0,1,0,0,0,0,0,0,0
23,Wales,0,0,0,0,0,0,0,0,0,0
24,Wales,0,0,0,0,0,0,0,0,0,0
25,Northern Ireland,0,0,0,0,0,0,0,0,0,0
26,Scotland,0,0,0,0,0,0,0,0,0,0
27,Scotland,0,0,0,0,0,0,0,0,0,0
28,Wales,0,0,0,0,0,0,0,0,0,0
29,Scotland,0,0,0,0,0,0,0,0,0,0
30,Northern Ireland,0,0,0,0,0,0,0,0,0,0
31,England,0,0,1,0,0,0,0,0,0,0
32,England,0,0,1,0,0,0,0,0,0,0
33,England,0,0,1,0,0,0,0,0,0,0
34,Wales,0,0,0,0,0,0,0,0,0,0
35,Northern Ireland,0,0,0,0,0,0,0,0,0,0
36,Wales,0,0,0,0,0,0,0,0,0,0
37,Northern Ireland,0,0,0,0,0,0,0,0,0,0
38,Scotland,0,0,0,0,0,0,0,0,0,0
39,Scotland,0,0,0,0,0,0,0,0,0,0
40,Wales,0,0,0,0,0,0,0,0,0,0
41,Canada,0,0,0,0,0,0,0,0,0,0
42,Northern Ireland,0,0,0,0,0,0,0,0,0,0
43,England,0,0,1,0,0,0,0,0,0,0
44,Scotland,0,0,0,0,0,0,0,0,0,0
45,England,0,0,1,0,0,0,0,0,0,0
46,England,0,0,1,0,0,0,0,0,0,0
47,Wales,0,0,0,0,0,0,0,0,0,0
48,Canada,0,0,0,0,0,0,0,0,0,0
49,Northern Ireland,0,0,0,0,0,0,0,0,0,0

In [45]:
one_hot_top_team(data, 'away_team', top_10)
data.head()

,home_team,away_team,country,home_team_Brazil,home_team_Argentina,home_team_Mexico,home_team_Germany,home_team_England,home_team_Sweden,home_team_France,...,away_team_Uruguay,away_team_Sweden,away_team_England,away_team_Hungary,away_team_Paraguay,away_team_Germany,away_team_Poland,away_team_Argentina,away_team_Finland,away_team_Zambia
0,Scotland,England,Scotland,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,England,Scotland,England,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Scotland,England,Scotland,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,England,Scotland,England,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Scotland,England,Scotland,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [46]:
top_10 = [team for team in data.country.value_counts().sort_values(ascending=False).head(10).index ]
top_10

['United States',
 'France',
 'England',
 'Malaysia',
 'Sweden',
 'Germany',
 'Brazil',
 'Spain',
 'United Arab Emirates',
 'Austria']

In [47]:
for label in top_10:
    data[label] = np.where(data['country']==label,1,0)

data[['country']+top_10].head(50)

,country,United States,France,England,Malaysia,Sweden,Germany,Brazil,Spain,United Arab Emirates,Austria
0,Scotland,0,0,0,0,0,0,0,0,0,0
1,England,0,0,1,0,0,0,0,0,0,0
2,Scotland,0,0,0,0,0,0,0,0,0,0
3,England,0,0,1,0,0,0,0,0,0,0
4,Scotland,0,0,0,0,0,0,0,0,0,0
5,Scotland,0,0,0,0,0,0,0,0,0,0
6,England,0,0,1,0,0,0,0,0,0,0
7,Wales,0,0,0,0,0,0,0,0,0,0
8,Scotland,0,0,0,0,0,0,0,0,0,0
9,Scotland,0,0,0,0,0,0,0,0,0,0
10,England,0,0,1,0,0,0,0,0,0,0
11,England,0,0,1,0,0,0,0,0,0,0
12,Wales,0,0,0,0,0,0,0,0,0,0
13,Scotland,0,0,0,0,0,0,0,0,0,0
14,Wales,0,0,0,0,0,0,0,0,0,0
15,Scotland,0,0,0,0,0,0,0,0,0,0
16,England,0,0,1,0,0,0,0,0,0,0
17,England,0,0,1,0,0,0,0,0,0,0
18,Wales,0,0,0,0,0,0,0,0,0,0
19,Republic of Ireland,0,0,0,0,0,0,0,0,0,0
20,Wales,0,0,0,0,0,0,0,0,0,0
21,Scotland,0,0,0,0,0,0,0,0,0,0
22,Wales,0,0,0,0,0,0,0,0,0,0
23,Scotland,0,0,0,0,0,0,0,0,0,0
24,England,0,0,1,0,0,0,0,0,0,0
25,England,0,0,1,0,0,0,0,0,0,0
26,England,0,0,1,0,0,0,0,0,0,0
27,Wales,0,0,0,0,0,0,0,0,0,0
28,Republic of Ireland,0,0,0,0,0,0,0,0,0,0
29,Republic of Ireland,0,0,0,0,0,0,0,0,0,0
30,Wales,0,0,0,0,0,0,0,0,0,0
31,Republic of Ireland,0,0,0,0,0,0,0,0,0,0
32,Scotland,0,0,0,0,0,0,0,0,0,0
33,Wales,0,0,0,0,0,0,0,0,0,0
34,Scotland,0,0,0,0,0,0,0,0,0,0
35,England,0,0,1,0,0,0,0,0,0,0
36,England,0,0,1,0,0,0,0,0,0,0
37,Scotland,0,0,0,0,0,0,0,0,0,0
38,England,0,0,1,0,0,0,0,0,0,0
39,Wales,0,0,0,0,0,0,0,0,0,0
40,Republic of Ireland,0,0,0,0,0,0,0,0,0,0
41,United States,1,0,0,0,0,0,0,0,0,0
42,Wales,0,0,0,0,0,0,0,0,0,0
43,Republic of Ireland,0,0,0,0,0,0,0,0,0,0
44,Republic of Ireland,0,0,0,0,0,0,0,0,0,0
45,Scotland,0,0,0,0,0,0,0,0,0,0
46,Wales,0,0,0,0,0,0,0,0,0,0
47,Scotland,0,0,0,0,0,0,0,0,0,0
48,United States,1,0,0,0,0,0,0,0,0,0
49,England,0,0,1,0,0,0,0,0,0,0

In [49]:
one_hot_top_team(data, 'country', top_10)
data.head()

,home_team,away_team,country,home_team_Brazil,home_team_Argentina,home_team_Mexico,home_team_Germany,home_team_England,home_team_Sweden,home_team_France,...,country_United States,country_France,country_England,country_Malaysia,country_Sweden,country_Germany,country_Brazil,country_Spain,country_United Arab Emirates,country_Austria
0,Scotland,England,Scotland,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,England,Scotland,England,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,Scotland,England,Scotland,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,England,Scotland,England,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Scotland,England,Scotland,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
data

,home_team,away_team,country,home_team_Brazil,home_team_Argentina,home_team_Mexico,home_team_Germany,home_team_England,home_team_Sweden,home_team_France,...,country_United States,country_France,country_England,country_Malaysia,country_Sweden,country_Germany,country_Brazil,country_Spain,country_United Arab Emirates,country_Austria
0,Scotland,England,Scotland,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,England,Scotland,England,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,Scotland,England,Scotland,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,England,Scotland,England,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Scotland,England,Scotland,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42079,Andorra,Hungary,Andorra,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42080,San Marino,Albania,San Marino,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42081,Armenia,Romania,Armenia,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42082,Germany,North Macedonia,Germany,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
42083,Liechtenstein,Iceland,Liechtenstein,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
data.drop('home_team',axis=1, inplace=True)

In [53]:
data.drop('away_team',axis=1, inplace=True)

In [54]:
data.drop('country',axis=1, inplace=True)

In [55]:
data

,home_team_Brazil,home_team_Argentina,home_team_Mexico,home_team_Germany,home_team_England,home_team_Sweden,home_team_France,home_team_South Korea,home_team_Hungary,home_team_Italy,...,country_United States,country_France,country_England,country_Malaysia,country_Sweden,country_Germany,country_Brazil,country_Spain,country_United Arab Emirates,country_Austria
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42079,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42080,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42081,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42082,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
42083,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
X=data
X

,home_team_Brazil,home_team_Argentina,home_team_Mexico,home_team_Germany,home_team_England,home_team_Sweden,home_team_France,home_team_South Korea,home_team_Hungary,home_team_Italy,...,country_United States,country_France,country_England,country_Malaysia,country_Sweden,country_Germany,country_Brazil,country_Spain,country_United Arab Emirates,country_Austria
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42079,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42080,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42081,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42082,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
42083,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
Y=pd.read_csv(r'C:\results_football1.csv', usecols=['home_score', 'away_score' ])
Y

       home_score  away_score
0               0           0
1               4           2
2               2           1
3               2           2
4               3           0
...           ...         ...
42079           1           4
42080           0           2
42081           3           2
42082           1           2
42083           1           4

[42084 rows x 2 columns]

In [62]:
pd.set_option('display.max_columns', None)
X.head()

,home_team_Brazil,home_team_Argentina,home_team_Mexico,home_team_Germany,home_team_England,home_team_Sweden,home_team_France,home_team_South Korea,home_team_Hungary,home_team_Italy,Uruguay,Sweden,England,Hungary,Paraguay,Germany,Poland,Argentina,Finland,Zambia,away_team_Uruguay,away_team_Sweden,away_team_England,away_team_Hungary,away_team_Paraguay,away_team_Germany,away_team_Poland,away_team_Argentina,away_team_Finland,away_team_Zambia,United States,France,Malaysia,Brazil,Spain,United Arab Emirates,Austria,away_team_United States,away_team_France,away_team_Malaysia,away_team_Brazil,away_team_Spain,away_team_United Arab Emirates,away_team_Austria,country_United States,country_France,country_England,country_Malaysia,country_Sweden,country_Germany,country_Brazil,country_Spain,country_United Arab Emirates,country_Austria
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [63]:
X.drop(['Uruguay', 'Sweden','England','Hungary','Paraguay', 'Germany','Poland','Argentina','Finland','Zambia'], axis='columns', inplace=True)

In [64]:
X.head()

,home_team_Brazil,home_team_Argentina,home_team_Mexico,home_team_Germany,home_team_England,home_team_Sweden,home_team_France,home_team_South Korea,home_team_Hungary,home_team_Italy,away_team_Uruguay,away_team_Sweden,away_team_England,away_team_Hungary,away_team_Paraguay,away_team_Germany,away_team_Poland,away_team_Argentina,away_team_Finland,away_team_Zambia,United States,France,Malaysia,Brazil,Spain,United Arab Emirates,Austria,away_team_United States,away_team_France,away_team_Malaysia,away_team_Brazil,away_team_Spain,away_team_United Arab Emirates,away_team_Austria,country_United States,country_France,country_England,country_Malaysia,country_Sweden,country_Germany,country_Brazil,country_Spain,country_United Arab Emirates,country_Austria
0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [65]:
X.drop(['United States', 'France','Malaysia','Brazil','Spain', 'United Arab Emirates','Austria'], axis='columns', inplace=True)

In [67]:
X.head()

,home_team_Brazil,home_team_Argentina,home_team_Mexico,home_team_Germany,home_team_England,home_team_Sweden,home_team_France,home_team_South Korea,home_team_Hungary,home_team_Italy,away_team_Uruguay,away_team_Sweden,away_team_England,away_team_Hungary,away_team_Paraguay,away_team_Germany,away_team_Poland,away_team_Argentina,away_team_Finland,away_team_Zambia,away_team_United States,away_team_France,away_team_Malaysia,away_team_Brazil,away_team_Spain,away_team_United Arab Emirates,away_team_Austria,country_United States,country_France,country_England,country_Malaysia,country_Sweden,country_Germany,country_Brazil,country_Spain,country_United Arab Emirates,country_Austria
0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [68]:
X.drop(['away_team_United States', 'away_team_France','away_team_Malaysia','away_team_Brazil','away_team_Spain', 'away_team_United Arab Emirates','away_team_Austria'], axis='columns', inplace=True)

In [69]:
X.head()

,home_team_Brazil,home_team_Argentina,home_team_Mexico,home_team_Germany,home_team_England,home_team_Sweden,home_team_France,home_team_South Korea,home_team_Hungary,home_team_Italy,away_team_Uruguay,away_team_Sweden,away_team_England,away_team_Hungary,away_team_Paraguay,away_team_Germany,away_team_Poland,away_team_Argentina,away_team_Finland,away_team_Zambia,country_United States,country_France,country_England,country_Malaysia,country_Sweden,country_Germany,country_Brazil,country_Spain,country_United Arab Emirates,country_Austria
0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [70]:
X

,home_team_Brazil,home_team_Argentina,home_team_Mexico,home_team_Germany,home_team_England,home_team_Sweden,home_team_France,home_team_South Korea,home_team_Hungary,home_team_Italy,away_team_Uruguay,away_team_Sweden,away_team_England,away_team_Hungary,away_team_Paraguay,away_team_Germany,away_team_Poland,away_team_Argentina,away_team_Finland,away_team_Zambia,country_United States,country_France,country_England,country_Malaysia,country_Sweden,country_Germany,country_Brazil,country_Spain,country_United Arab Emirates,country_Austria
0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42079,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
42080,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
42081,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
42082,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
42083,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [71]:
Y

       home_score  away_score
0               0           0
1               4           2
2               2           1
3               2           2
4               3           0
...           ...         ...
42079           1           4
42080           0           2
42081           3           2
42082           1           2
42083           1           4

[42084 rows x 2 columns]

In [72]:
model.fit(X,Y)

LinearRegression()

In [74]:
model.predict([[0,0,0,0,0,0,0,0,0,1, 0,0,0,0,0,0,0,0,0,1, 0,0,0,0,0,0,0,0,0,1 ]])

array([[1.76930199, 0.76242681]])

In [75]:
model.predict([[1,0,0,0,0,0,0,0,0,0, 0,0,0,0,0,1,0,0,0,0, 0,0,1,0,0,0,0,0,0,0 ]])

array([[2.22340483, 1.64852899]])

In [79]:
model.predict([[1,0,0,0,0,0,0,0,0,0, 1,0,0,0,0,0,0,0,0,0, 1,0,0,0,0,0,0,0,0,0 ]])

array([[1.95084465, 1.00671248]])